{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "json"],
        "plugins": ["line-numbers", "normalize-whitespace"],
        "theme": "coy",
        "css": true
    }]
  ]
}