#root, html, body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
}

.fullHeight {
  height: 100%;
  margin: 0;
}

.flexVertical {
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
}

.flexGrow {
  flex-grow: 1;
}

.editor {
  font-family: '"Fira code", "Fira Mono", monospace';
  font-size: 12;
}
.contentScroll {
  overflow: auto;
}

.scrolled-body-wrapper {
  position: relative;  /* <------------------------- required */
  /* background: silver; */
  flex: 1;
}

.scrolled-body {
  position: absolute;  /* <------------------------- required */
  left: 0; top: 0; right: 0; bottom: 0;  /* <------- required */
  overflow-y: auto;  /* <--------------------------- required */
}